.program-block, .inv-var-parent-block {
	display: inline-block;
	vertical-align: top;
}

.inv-var-parent-block h2 {
	margin: 7px 0 7px 0;
}

.inv-var-block {
	overflow: scroll;
	height: 40%;
}

.inv-var-parent-block-hidden {
	display: none;
}

#program {
	height:40%;
}

.condition-input {
	margin: 10px 0 10px 0;
}
