.inv-var-block {
	overflow: scroll;
	max-height: 40%;
}

.hidden {
	display: none;
}

#program {
	height: 40%;
	width: 100%;
}

.top-bottom-padded {
	margin: 10px 0 10px 0;
}

.pointer {
	cursor: pointer;
}

.panel-body {
	background-color: #f7f7f7;
}

.navbar-default {
	background-color: #c30000;
	border-color: #c30000;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.modal-header {
	background-color: #c30000;
	color: #ffffff;
}

.panel-instruction {
	margin-bottom: 0;
}

