#program {
	height: 40%;
	width: 100%;
}

td, th {
	text-align: center;
}

table.table>tbody>tr>th {
	vertical-align: middle;
}

.inv-var-block {
	overflow: scroll;
	max-height: 40%;
}

.hidden {
	display: none;
}

.top-bottom-padded {
	margin: 10px 0 10px 0;
}

.pointer {
	cursor: pointer;
}

.panel-body {
	background-color: #f7f7f7;
}

.navbar-default {
	background-color: #c30000;
	border-color: #c30000;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.modal-header {
	background-color: #c30000;
	color: #ffffff;
}

.panel-instruction {
	margin-bottom: 0;
}

.modal-body {
	overflow: scroll;
	max-height: 75%;
}

.close {
	font-size: 30px;
}

.collapse-instruction {
	font-family: 'Glyphicons Halflings';
	margin: 10px;
}

.panel-heading.collapsed .collapse-instruction:after {
	content: "\e159";
}

.panel-heading .collapse-instruction:after {
	content: "\e160";
}

